:root {
    --J1-color: #ff3333;
    --J2-color: #d8cc00;
    --modal-color: black;
    --delay: 750ms
}

.joueur {
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: xx-large;

    h2#j1 {
        color: var(--J1-color);
    }

    h2#j2 {
        color: var(--J2-color);
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(226, 226, 226);
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#vs {
    width: 10vw;
    height: auto;
}

.pion {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 0;
}

#menu-position {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    padding-left: 10px;
}

.video {
    display: none;

    &.Chilling {
        position: relative;
        top: -50px;
    }
}

.title {
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 4.5rem;
    &.load {
        animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both, Color 4s ease infinite;
    }
}

.menu-items {
    display: grid;
    flex-direction: column;
    justify-items: center;
    padding: 20px;
    margin-top: 20px;
}

#pseudo {
    border-radius: 5px;
    padding: 10px 25px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid black;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay) forwards;
}

#pseudo:hover {
    border: 2px solid var(--J2-color);
}

#pseudo:focus {
    outline: none;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay) forwards, border-pulse 2s infinite;
}

.menu-button {
    background-color: #ffae00;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1.5rem;
    padding: 10px 30px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 250ms;
    text-shadow: 1px 2px 3px #00000070;
    box-shadow: 0px 0px 10px 1px #ffae00;

    &.first {
        animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay) forwards;
    }

    &.second {
        animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay) forwards;
    }
}

.menu-button:hover {
    background-color: #ff0000;
    box-shadow: -70px 0 70px -5px var(--J1-color), 75px 0 70px -5px var(--J2-color);
    transform: scale(1.2);


    &.btn-abandon {
        box-shadow: 0px 0px 10px 1px #ff0000;
    }

    &.first {
        animation: slide-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay) forwards, scale-up-center 200ms 1 cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    &.second {
        animation: slide-top 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) var(--delay) forwards, scale-up-center 200ms 1 cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }
}

.info {
    color: #000000;
    font-size: 1.2rem;
    text-align: right;
    text-decoration: underline;
}

.infoAnim {
    animation: slide-fwd-top 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0s both;
}

.recherche {
    font-size: 1.5rem;
}

.game-hud {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.abandon {
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 2vh;
}

.plateau {
    display: grid;
    justify-items: center;
}

.tabPlateau {
    border: 10px solid rgb(2, 61, 203);
    background-color: rgb(11, 76, 222);
    border-radius: 20px;
    padding: 0.5vh;
    box-shadow: 9px 9px 10px 1px #000000ab;

    td {
        border: 5px solid rgb(2, 61, 203);
        border-radius: 100%;
        background-color: #00000057;
        width: 88px;
        height: 88px;
        padding: 0px;
        box-shadow: inset 3px 3px 6px 1px #000000ab;
    }
}

.portePion {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;

    &.J1 {
        background-color: rgb(255, 51, 51);
    }

    &.J2 {
        background-color: rgb(216, 204, 0);
    }
}

.game-pion {
    width: 70%;
    height: 70%;
    border-radius: 100%;
    border: 3px solid transparent;
    border-inline-width: 1px;
    border-bottom-width: 2px;

    &.J1 {
        background-color: rgb(255, 77, 77);
        border-inline-color: rgb(193, 0, 0);
        border-top-color: rgb(193, 0, 0);
        border-bottom-color: rgb(255, 196, 196);
    }

    &.J2 {
        background-color: rgb(255, 240, 0);
        border-top-color: rgb(190, 178, 0);
        border-inline-color: rgb(190, 178, 0);
        border-bottom-color: rgb(255, 251, 193);
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 10% 30%;
    padding: 20px;
    border: 1px solid #888;
    width: auto;
    display: grid;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
    box-shadow: -20px 0px 200px 0px var(--modal-color), 20px 0px 200px 0px var(--modal-color);

    #state {
        margin-top: 1em;
        margin-bottom: 0px;
        text-shadow: 1px 2px 3px #00000070;
        font-size: xxx-large;
    }
}